:root{
    --dark-color: #282037;
    --medium-color: #933275 ;
    --light-color: #f0b9ce ;
    --superlight-color:#f8d8e3 ;
    --ligth-color-blur: rgba(241, 185, 206, 0.5);
}
body{
    background: url("../img/RedLongL.png");
}/*
.imgFondo{
    background-image: url("../img/RedGScreen.jpg");
}*/
#global{
    background: var(--superlight-color) /*whitesmoke*/;
}
#logo{
    background: var( --medium-color) /*#c5325c*/;
}
#logo h1{
    color: var(--light-color);
}
#menu{
    background: var(--dark-color); 
    color:var(--superlight-color);
}

#menu ul li:hover, #footer-ul li:hover{
    background:var(--medium-color);
}

#menu ul li a, #footer-ul li a{
    color:var(--superlight-color);
}

.post h2{
    color:var(--dark-color);     
}

.btn-more{
    background: var(--medium-color);
    color: var(--light-color);
}
.btn-more:hover{
    background: var(--dark-color);
}
#sidebar, #theme-selector{
    background: var(--ligth-color-blur);
}

#sidebar h4{
    color:var(--dark-color);
}

form input[type="submit"]{
    background: var(--dark-color);
    color: var(--light-color);
}
form input[type="submit"]:hover{
    background: var(--medium-color);
}

footer{
    background: var(--dark-color); 
    color:var(--superlight-color);
}
.bx-wrapper {
    border: 20px solid var(--superlight-color);
    background: var(--superlight-color);
}
.subir{
    background: var(--light-color);
    color: var(--medium-color);
}